---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Comprehensive AI-powered Agents",
    description:
      "Automate and enhance customer interactions in sales, service, and support",
    icon: "mdi:alpha-s-circle",
  },
  {
    title: "Seamless Integration",
    description:
      "Easy integration with existing systems for immediate functionality..",
    icon: "mdi:feather",
  },
  {
    title: "Scalable Platform",
    description:
      "Adaptable to businesses of all sizes, supporting growth and expansion..",
    icon: "mdi:directions-fork",
  },
  {
    title: "Smart Analytics and Reporting",
    description:
      "In-depth insights into customer interactions and agent performance..",
    icon: "mdi:database-sync",
  },
  {
    title: "Multi Agents",
    description:
      "Each Chat Bot Agent is connected to an AI Persona: Marketing, Sales, Concierge, Customer Service – With Unique training ",
    icon: "mdi:account-group",
  },
  {
    title: "Multi Channel",
    description:
      "AI Chat Bot Answers Whatsapp, Email, Airbnb, Booking – All in one Inbox",
    icon: "mdi:search-web",
  },
];
---

<ContentSection title="Features" id="features">
  <Fragment slot="lead">
    The Future is Here: <span class="text-primary">AI Transforming</span> 
    the Accommodation Industry
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="h-16 w-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
